{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .border{
            box-shadow: 0 0 10px 0px rgb(212, 203, 203);
        }
    </style>
</head>
<body>
    <h1>Homepage</h1>
    <a href="{% url 'blog:add_post' %}">Add</a>
    <a href="{% url 'accounts:register' %}">Register</a>
    <div class="container">
        <div class="row">
            {% for post in posts %}
            <div class="col-12 mb-4 ">
                <div class="media border p-4 rounded-lg">
                    <img src="{{post.img.url}}" alt="Image" class="img-fluid rounded-circle" style="width: 60px; height:60px;">
                    <div class="media-body pl-4">
                        <h1>{{post.topic}}</h1>
                        <p>{{post.desc}}</p>
                    </div>
                </div>
            </div>
            
            {% endfor %}
        </div>
    </div>
</body>
</html>

